{% extends 'base.html'%}

{% block title %}
    Create new post
{% endblock %}

{% block content_title %}
    New post
{% endblock %}

{% block content %}
    <style>
        div.container form {
            display: inline;
            padding: 0px;
            margin: 0px
            }
    </style>
<div class="container">
    <form action="{{ url_for ('posts.create_post') }}" method="POST">
        {% for field in form %}
            <div class="form=group col-md-6">
                {{ field.label(class='control-label') }}
                {{ field(class='form-control') }}
            </div>
        {% endfor %}
        <button type="submit"class="btn btn-primary">Create Post</button>
    </form>
    <form action="{{ url_for('posts.index') }}" method="GET">
        <button type="submit" class="btn btn-primary">Back to Posts</button>
    </form>
</div>
{% endblock %}
